body{
    background-color: rgb(20, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
}

.bg{
    width: 23em;
    height: 40em;
    background-color: rgb(31, 31, 31);
    border-radius: 20px;
    margin-left: 40em;
    margin-top: 2em;
    text-align: center;
}

img{
    margin-top: 3em;
    border-radius: 50%;
}

h3, p{
    color: white;
}

.github{
    width: 18em;
    height: 3em;
    background-color: rgb(41, 41, 41);
    margin-left: 2em;
    border-radius: 9px;
    color: white;
}